.label {
  border-radius: 4px;
  color: black;
  padding: 4px 8px;
}
.document-display {
  margin-top: 20px;
}
.labels {
  margin-bottom: 20px;
}
.custom-context-menu {
  position: fixed;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 5px;
}

.custom-context-menu > div {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  user-select: none;
}

.custom-context-menu > div:last-child {
  border: none;
}

.custom-context-menu > div:hover {
  background-color: #f5f5f5;
}
